@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");

.navbar {
  background-color: #000000;
}

.navbar-brand {
  font-family: "Shojumaru", cursive, sans-serif;
  font-size: 2.5rem;
  color: #ffcb05;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #3d7dca;
  text-shadow: 3px 3px #003a70;
  cursor: pointer;
}

.nav-link {
  font-family: "Shojumaru", cursive, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffcb05;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #3d7dca;
  text-shadow: 1.5px 1.5px #003a70;
}
