.card {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  background-image: linear-gradient(to right, #003a70, #d00000);
}

.pokemon-id {
  font-size: 2em;
  font-weight: bold;
  color: #ffcb05;
}

.pokemon-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #3d7dca;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .pokemon-name {
    font-size: 1em;
  }
}
