<div class="container-fluid dummy_page">Pokémon</div>
<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/renato-borges-viana"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/linkedin.svg"
              width="32"
              style="width: 32px"
            />
          </a>
        </li>
        <li>
          <a
            href="https://github.com/renato-viana"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/github1.svg"
              width="32"
              style="width: 32px; background-color: #ffffff"
          /></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/renato-borges-viana"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/facebook.svg"
              width="32"
              style="width: 32px;"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- END OF FOOTER -->
